
/* Impede que o texto das colunas seja encurtado */
.quebraLinha, .quebraLinha span{
    overflow:initial !important;
    white-space: normal !important;
}

.labelTitulo{
    font-size:xx-large;
    font-weight: bold;
}

/*Usado em multilineInput*/
.maxHeight{
    height:100%;
}
.maxHeight .sapMMultiInputBorder{
    background: #ffffff;
    border: 1px solid #bfbfbf;
}

/*alterando o tamanho da tela fazendo ocupar a tela inteira*/
@media (min-width: 1280px){
    html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox{
        width: 100% !important;
        margin-left: 0!important;
        left: 0!important;
    }
}


.acaoDireita {
    position: absolute;
    right: 0;
    top: 0;
}

.acaoEsquerda {
    position: absolute;
    left: 0;
    bottom: 0;
}

/***********************************************\
Imagens do cabeçalho e do rodapé
\***********************************************/
.imagemCabecalho {

    margin: 0 !important;
    padding: 0.4em !important;
    visibility: visible;
    width: 8em;

}

.logoCabecalho {
    visibility: hidden;
    width: 0px;
}


.imagemRodapeInicio {
    background-image: url(../../content/images/rodape-01.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #ffffff;
}

