# Windows image file caches
Thumbs.db
ehthumbs.db
demos/
TradeLogServer/.vs/
TradeLogServer/TradeLogServer/bin/
TradeLogServer/TradeLogServer/connections.Release.config
TradeLogServer/TradeLogServer/Web.Release.config
TradeLogServer/packages/
TradeLog/node_modules/
TradeLogServer/.vs/TradeLogServer/v15/.suo
TradeLogServer/TradeLogServer/bin/
TradeLogServer/TradeLogServer/obj/
TradeLogServer/TradeLogServer/logs/
TradeLogServer/packages
TradeLogServer\packages
TradeLogServer\packages\
*/packages/
TradeLogServer/TradeLogServer/logs/saida.log
TradeLogServer/Properties/PublishProfiles
TradeLogServer/Properties/PublishProfiles/CustomProfile.pubxml.user
TradeLogServer/Properties/PublishProfiles/CustomProfile.pubxml
TradeLogServer/TradeLogServer/Web.Release.config
TradeLogServer/TradeLogServer/logs/saida.log