# Windows image file caches
Thumbs.db
ehthumbs.db
demos/
TradeLogServer/.vs/
TradeLogServer/TradeLogServer/bin/
TradeLogServer/TradeLogServer/connections.Release.config
TradeLogServer/packages/
TradeLog/node_modules/
TradeLogServer/.vs/TradeLogServer/v15/.suo
TradeLogServer/TradeLogServer/bin/
TradeLogServer/TradeLogServer/obj/
TradeLogServer/TradeLogServer/logs/
TradeLogServer/TradeLogServer/logs/saida.log
TradeLogServer/TradeLogServer/Properties/PublishProfiles
TradeLogServer/TradeLogServer/Properties/PublishProfiles/CustomProfile.pubxml.user
TradeLogServer/TradeLogServer/Properties/PublishProfiles/CustomProfile.pubxml
TradeLogServer/TradeLogServer/Web.Release.config
TradeLogServer/TradeLogServer/logs/saida.log
TradeLog/build/
TradeLogServer/TradeLogServer/Web.Release.config
TradeLogServer/TradeLogServer/obj/Debug/TradeLogServer.dll
TradeLogServer/TradeLogServer/obj/Debug/TradeLogServer.pdb
