<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="Conexao" connectionString="Server=localhost;Database=tradeLog;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient" />
    <remove name="LocalMySqlServer" />
    <add connectionString="" name="LocalMySqlServer" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
